/* место для вашего кода */
/* common */
.link {
  text-underline-offset: 4px;
  text-decoration: underline;
}

.link_current {
  text-decoration: none;
}

.content-title {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1;
}

/* header*/
.header {
  display: grid;
  height: 293px;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 0px 50px;
  font-size: 18px;
  line-height: 1.17;
}

.nav__list {
  display: flex;
  font-size: 18px;
  line-height: 21px;
  list-style: circle;
}

.nav__list_header {
  column-gap: 32px;
}

.nav__list_footer {
  flex-direction: column;
  text-align: center;
}

.nav__list-item {
  list-style: none;
}

.logo {
  width: 148px;
}

.contacts {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 18px;
  line-height: 24px;
}

.contacts__header {
  justify-self: end;
  width: 240px;
}

.contacts__footer {
  width: 265px;
}

/* cover */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  content: "";
  background-color: rgb(0 0 0 / 0.6);
}

.cover {
  position: relative;
  z-index: 0;
  height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 145px 20px 106px 50px;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title-text {
  display: block;
  padding-top: 20px;
}

.cover__title-text_center {
  text-align: center;
}

.cover__title-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between; 
  padding: 0 50px;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 13px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.bet-button {
  flex-shrink: 0;
  padding: 12px 32px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .3s;
}

/* lots */
.lots {
  padding-inline: 24px;
}

.lots__content-title {
  margin: 180px 0 27px 39px;
}

.lots__card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 334px);
    justify-content: center;
    column-gap: 25px;
    row-gap: 30px;
    color: #fff;
}

.lots__card-list-item {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  position: relative;
  z-index: 0;
  background: #000 no-repeat scroll center / cover;
  transition: transform .3s;
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline solid #fff;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 23px;
}

/* about */
.about {
  display: grid;
  grid-template-columns: 334px auto;
  justify-items: center;  
  column-gap: 24px;
  height: 595px;
  margin-top: 120px;
  padding: 35px 24px 0 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: flex-start; */
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__content {
  margin-top: 98px;
}
.about__content-title {
  margin-bottom: 76px;
}

.about__content-text {
  font-size: 20px;
  line-height: 24px;
  margin-top: 24px;
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-self: center;
  height: 180px;
  margin-top: 180px;
  padding: 0px 50px;
}

.social-link {
  justify-self: end;
  width: 240px;
}

.nav__list_social {
    column-gap: 48px;
}

.nav__list-icon_social {
    width: 48px;
    height: 48px;
}
