/* место для вашего кода */
/* common */
.link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link_current {
  text-decoration: none;
}

.content-title {
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
}

/* header*/
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
  line-height: 1.17;
}

.nav__list {
  display: flex;
  font-size: 18px;
  line-height: 1.3;
  list-style: circle;
}

.nav__list_header {
  column-gap: 32px;
}

.nav__list-item {
  list-style: none;
}

.logo {
  width: 148px;
}

.contacts {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  font-style: normal;
}

.contacts__header {
  justify-self: end;
  max-width: 240px;
}

.contacts__footer {
  max-width: 265px;
}

/* cover */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0 0 0 / 0.6);
}

.cover {
  position: relative;
  z-index: 0;
  min-height: 757px;
  padding-bottom: 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.cover__title {
  position: relative;
  z-index: 1;
  padding: 145px 20px 106px 50px;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.cover__title-text {
  display: block;
  padding-top: 20px;
}

.cover__title-text_center {
  text-align: center;
}

.cover__title-text_right {
  text-align: right;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.3;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  word-spacing: 13px;
}

.bet-button {
  flex-shrink: 0;
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.18;
  text-transform: uppercase;
  background-color: transparent;
  transition: all .3s;
  cursor: pointer;
}

/* lots */
.lots {
  padding-inline: 24px;
}

.lots__content-title {
  margin: 180px 0 37px 39px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 334px);
  justify-content: center;
  row-gap: 30px;
  column-gap: 25px;
  color: #fff;
}

.lots__card-list-item {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  background: #000 no-repeat scroll center / cover;
  transition: transform .3s;
}

.card__title {
  position: relative;
  z-index: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  text-decoration: underline solid #fff;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  line-height: 1.15;
}

/* about */
.about {
  display: grid;
  grid-template-columns: 334px auto;
  justify-items: center;
  column-gap: 24px;
  margin-top: 120px;
  padding: 35px 24px 0 24px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__content {
  margin-top: 98px;
}

.about__content-title {
  margin-bottom: 100px;
}

.about__content-text {
  margin-top: 24px;
  font-size: 20px;
  line-height: 1.2;
}

/* footer */
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  align-self: center;
  margin-top: 180px;
  padding: 0px 50px 82px;
}

.nav__list_footer {
  flex-direction: column;
  text-align: center;
}

.nav__list_social {
  justify-self: end;
  max-width: 240px;
  column-gap: 48px;
}

.nav__list-icon_social {
  width: 48px;
  height: 48px;
}